# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.txt

# IDEs & OS
.idea/
.vscode/
.run/
.DS_Store

# Local runtime & containers
volume/
debug

# Terraform
.terraform*
*.tfstate*
*.tfvars

# Bundles
cmd.zip
internal.zip
